[Desktop Entry]
Version=1.2
Type=Service
MimeType=application/x-ms-dos-executable
Icon=insert-link
Actions=mkExeShortcut;mkExeDesktopShortcut;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
X-KDE-StartupNotify=false
X-KDE-Priority=TopLevel
X-KDE-Submenu=Create shortcut
X-KDE-Submenu[ar]=انشاء اختصار 
X-KDE-Submenu[cs]=Vytvořit zástupce
X-KDE-Submenu[da]=Opret genvej
X-KDE-Submenu[de]=Verknüpfung erstellen
X-KDE-Submenu[el]=Δημιουργία συντόμευσης
X-KDE-Submenu[en]=Create shortcut
X-KDE-Submenu[es]=Crear acceso directo
X-KDE-Submenu[fi]=Luo pikakuvake
X-KDE-Submenu[fr]=Créer un raccourci
X-KDE-Submenu[hi]=शॉर्टकट बनाएं
X-KDE-Submenu[hu]=Parancsikon létrehozása
X-KDE-Submenu[hy]=Ստեղծեք դյուրանցում
X-KDE-Submenu[id]=Buat pintasan
X-KDE-Submenu[is]=Búa til hjáleið
X-KDE-Submenu[it]=Creare una scorciatoia
X-KDE-Submenu[lt]=Sukurkite nuorodą
X-KDE-Submenu[nl]=Snelkoppeling maken
X-KDE-Submenu[pl]=Utwórz skrót
X-KDE-Submenu[pt]=Criar atalho
X-KDE-Submenu[ru]=Создать ярлык
X-KDE-Submenu[sv]=Skapa genväg
X-KDE-Submenu[th]=สร้างทางลัด
X-KDE-Submenu[uk]=Створити ярлик
X-KDE-Submenu[vi]=Tạo lối tắt
X-KDE-Submenu[zh]=創建快捷方式

[Desktop Action mkExeDesktopShortcut]
Exec=$HOME/.local/share/kservices5/mkexeshortcut/mkexeshortcut.sh "%u"
Icon=insert-link
Name=Create shortcut on the desktop
Name[ar]=إنشاء اختصار سطح المكتب
Name[cs]=Vytvořit zástupce na ploše
Name[da]=Opret genvej på skrivebordet
Name[de]=Desktopverknüpfung erstellen
Name[el]=Δημιουργία συντόμευσης στην επιφάνεια εργασίας
Name[en]=Create shortcut on the desktop
Name[es]=Crear acceso directo del escritorio
Name[fi]=Luo pikakuvake työpöydälle
Name[fr]=Créer un raccourci sur le bureau
Name[hi]=डेस्कटॉप शॉर्टकट बनाओ
Name[hu]=Asztali parancsikon létrehozása
Name[hy]=Ստեղծեք աշխատասեղանի դյուրանցում
Name[id]=Buat pintasan desktop
Name[is]=Búðu til flýtileið á skjáborðinu
Name[it]=Crea collegamento sul desktop
Name[lt]=Sukurti nuorodą darbalaukyje
Name[nl]=Snelkoppeling maken op het bureaublad
Name[pl]=Utwórz skrót na pulpicie
Name[pt]=Criar atalho na área de trabalho
Name[ru]=Создать ярлык на рабочем столе
Name[sv]=Skapa skrivbordsgenväg
Name[th]=สร้างทางลัดบนเดสก์ท็อป
Name[uk]=Створити ярлик на робочому столі
Name[vi]=Tạo lối tắt trên màn hình
Name[zh]=創建桌面快捷方式

[Desktop Action mkExeShortcut]
Exec=$HOME/.local/share/kservices5/mkexeshortcut/mkexeshortcut.sh "%u" "$PWD"
Icon=insert-link
Name=Create shortcut here
Name[ar]=إنشاء اختصار هنا
Name[cs]=Vytvořit zástupce zde
Name[da]=Opret genvej her
Name[de]=Erstellen sie hier eine verknüpfung
Name[el]=Δημιουργήστε συντόμευση εδώ
Name[en]=Create shortcut here
Name[es]=Crear acceso directo aquí
Name[fi]=Luo pikakuvake tästä
Name[fr]=Créer un raccourci ici
Name[hi]=यहां शॉर्टकट बनाएं
Name[hu]=Parancsikon létrehozása itt
Name[hy]=Ստեղծեք դյուրանցում այստեղ
Name[id]=Buat pintasan di sini
Name[is]=Búðu til flýtileið hér
Name[it]=Crea collegamento qui
Name[lt]=Sukurkite nuorodą čia
Name[nl]=Maak hier een snelkoppeling
Name[pl]=Utwórz skrót tutaj
Name[pt]=Criar atalho aqui
Name[ru]=Создать ярлык здесь
Name[sv]=Skapa genväg här
Name[th]=สร้างทางลัดที่นี่
Name[uk]=Створіть ярлик тут
Name[vi]=Tạo lối tắt tại đây
Name[zh]=在此處創建快捷方式
