[Desktop Action makeWinExeDesktopFile]
Exec=konsole --hold -e mkExeDesktopShortcut "%U"
Icon=application-x-ms-shortcut
Name[pt_BR]=Criar atalho na área de trabalho
Name=Create desktop shortcut
Name[ar]=إنشاء اختصار سطح المكتب
Name[cs]=Vytvořit zástupce na ploše
Name[da]=Opret genvej på skrivebordet
Name[de]=Desktopverknüpfung erstellen
Name[el]=Δημιουργία συντόμευσης στην επιφάνεια εργασίας
Name[en]=Create desktop shortcut
Name[es]=Crear acceso directo del escritorio
Name[fi]=Luo pikakuvake työpöydälle
Name[fr]=Créer un raccourci sur le bureau
Name[hi]=डेस्कटॉप शॉर्टकट बनाओ
Name[hu]=Asztali parancsikon létrehozása
Name[hy]=Ստեղծեք աշխատասեղանի դյուրանցում
Name[id]=Buat pintasan desktop
Name[is]=Opret genvej på skrivebordet
Name[it]=Crea una scorciatoia sul desktop
Name[lt]=Sukurti nuorodą darbalaukyje
Name[pl]=Utwórz skrót na pulpicie
Name[ru]=Создать ярлык на рабочем столе
Name[sv]=Skapa skrivbordsgenväg
Name[th]=สร้างทางลัดบนเดสก์ท็อป
Name[uk]=Створити ярлик на робочому столі
Name[vi]=Tạo lối tắt trên màn hình
Name[zh]=創建桌面快捷方式

[Desktop Entry]
Actions=makeWinExeDesktopFile
Icon=insert-link
MimeType=application/x-ms-dos-executable
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
